@import "tailwindcss";

.firstBackground{
    background-image: url('/images/firstbackground1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
};

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
